<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <div>
            <a href="{% url 'logout' %}">Logout</a>
          </div>
          {% else %}
          <div>
            <a href="{% url 'signup' %}">Sign Up</a>
          </div>
          <div>
            <a href="{% url 'login' %}">Login</a>
          </div>
          {% endif %}
        </ul>
      </nav>
    </header>
  </body>
  {% block content %} {% endblock %}
</html>
