{% extends 'base.html' %} {% block content %}

<main>
    <h1>Expense Category</h1>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
            <thead>
            <tbody>
                {% for category in expense_categories_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</main>
 {% endblock content %}
