{% extends 'base.html' %} {% block content %}
<h2>You are now Logged Out 🤗</h2>
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Log Out</button>
</form>
{% endblock content %}
