{% extends 'base.html' %} {% block content %}

<h2>Create an Account</h2>
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Create</button>
</form>

{% endblock content %}
